/* css for both columns */
.footer {
  height: 610px;
  /* border: 1px solid black; */
  background-color: #fff;
}
.col1 {
  /* border: 1px solid black; */
}

/* left column css */

.col1-container {
  /* border: 1px solid black; */
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.col1-heading {
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #232632;
  margin-bottom: 20px;
}
.email-anchor {
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #232632;
  margin-bottom: 40px;
}
.subscribe-anchor {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #232632;
  margin-bottom: 20px;
}
.email-input-field {
  width: Fill;
  height: 54px;
  padding: 0px, 16px, 0px, 8px;
  border-radius: 10px;
  border: 2px solid #232632;
  margin-bottom: 60px;
}

.redirect-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.redirect-links li a {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #828282;
}
/* right column css */
.col2 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col2-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 555px;
}

.breadcrumb-items,
.breadcrumb-item {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: #000;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 72px;
}
.social-icon {
  font-size: 32px;
  color: #333;
}
.copyright p {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}
@media only screen and (max-width: 1230px) {
}
