/* css for both columns */
.footer {
  height: 610px;
  background-color: #fff;
}

/* left column css */

.col1-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.col1-heading {
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #232632;
  margin-bottom: 20px;
}
.email-anchor {
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #232632;
  margin-bottom: 40px;
}
.subscribe-anchor {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #232632;
  margin-bottom: 20px;
}
.email-input-field {
  width: Fill;
  height: 54px;
  padding: 0px, 16px, 0px, 8px;
  border-radius: 10px;
  border: 2px solid #232632;
  margin-bottom: 60px;
}

.redirect-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.redirect-links li a {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #828282;
}
.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col2-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 555px;
}
.breadcrumb-items {
  margin-top: 150px;
  margin-bottom: 150px;
}

.breadcrumb-items,
.breadcrumb-item {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: #000;
}

.copyright p {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 80px;
}
/* Your existing CSS */

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icon {
  font-size: 32px;
  color: #333;
}
@media screen and (max-width: 991px) {
  .col2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 555px;
  }
  .breadcrumb-items {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .copyright p {
    margin-top: 20px;
  }
  .col1-container {
    align-items: center;
  }
  .redirect-links li a {
    color: black;
  }
}
